/* airtime.css */

/* Set the background color of the entire page to light gray */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}



.header .img img:hover {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}






/* .containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 400px;
    margin: auto;
  } */
  
  .topHeader {
    /* margin-bottom: 20px;
    width: 29rem;
    background: rgb(247, 247, 247);
    height: 12rem;
    border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 550px;
  position: relative;
    margin: auto;
    
  }
  
  .img {

    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
  
  .img #img {
    width: 100px;
    height: auto;
    border-radius: 50%;

  }
  
  .content {
    text-align: center;
      padding: 20px;
      text-align: center;
   
    
    
  }
  
  .content h3 {
    margin-top: 30px;
    font-size: 1.5em;
      
  }
  
 input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 53px;
    font-size: 1rem;
}