*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(234, 224, 224);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.border{
    border: 4px solid gray;
    border-radius: 1.5rem;
    padding: 2rem;

}
/* 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: auto;
  }

 .content{
    display: flex;
    align-items: center;
    margin-left: 22px;
    margin-bottom: 30px;
    margin-top: -19px;
}
 */
